
body{
    margin: 0rem;
    font-size: 10px;
}
.box{
    font-size: 16em;
}

.boxInterno{
    width: 10em;
    height: 10em;/*a unidade em é baseada conforme o tamanho da fonte definida na div pai, ou seja, 1em = 1.25rem (que foi o tamanho definido na classe pai - anterior). Nesse caso, ao mexer na largura e altura da classe boxInterno, serão alterados os tamanhos da div e da fonte*/
    background-color: #fae;
    /*O em busca o item diretamente superior a ele*/
    font-size:1rem;/*O rem pega a medida do elemento de hierarquia mais alta para efetuar o cálculo, ou seja, da tag html*/
}
/*O uso do rem é bom porque melhora em questão de responsividade do site, onde será feito o cálculo interno conforme o tamanho do dispositivo.
Caso não seja especificado o tamanho do rem, ele equivale a 16px por padrão*/